* {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
}

body {
    margin: 0;
}

.content {
    padding-bottom: 60px;
}

.login-form {
  max-width: 350px;
  margin: auto;
}

.login-form div {
  margin-bottom: 20px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
}

.login-form input[type="submit"] {
  width: 100%;
  padding: 20px;
  background-color: #59c114;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.login-form input[type="submit"]:hover {
    width: 100%;
    padding: 20px;
    background-color: #46990f;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }

.login-header {
    padding-top: 50px;
    text-align: center;
}
header {
    text-align: center;
    background-color: #87c4e0;
    color: #000000;
    padding: 30px;
    font-size: 35px;
}

.stat-field {
    padding: 5px;
}
.predict-button {
    padding-top: 20px;
    padding-bottom: 20px;
}
.predict-button input[type="submit"] {
    width: 20%;
    padding: 20px;
    background-color: #59c114;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.predict-button input[type="submit"]:hover {
    width: 20%;
    padding: 20px;
    background-color: #46990f;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.logout-button {
    display: inline-block;
    padding: 8px 12px;
    font-size: 15px;
    background-color: #e6382c;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #b41d1d;
}

.register-button {
    width: 10%;
    padding: 15px;
    background-color: #59c114;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.register-button:hover {
    width: 10%;
    padding: 15px;
    background-color: #46990f;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.era-form {
    text-align: center;
}

.predictions-table {
    width: 100%;
    border-collapse: collapse;
    margin: auto
}

.predictions-table th, .predictions-table td {
    padding: 7px;
    text-align: left;
    border-bottom: 1px solid #cccac5b7;
}

.predictions-table th {
    background-color: #cccac5b7;
}

.predictions-table tr:hover {
    background-color: #a39696ec;
}